#practices {
	margin: 25px 0 60px;
}
#practices .container {
	display: flex;
	padding-right: 0;
}
#practices .container .sidebar {
	width: 33.3%;
	padding-right: 20px;
	border-right: 1.5px dotted #fff;
	box-sizing: border-box;

}
#practices li {
	padding: 0 0 15px;
	border-bottom: 1.5px dotted #fff;
}
#practices li a {
	/*font-family: "Arial", "Helvetica", sans-serif;*/
	font-size: 14px;
	font-weight: 500;
	color: #755c02;
	line-height: 30px;
}
#practices li a:hover {
	color: #728063;
}
/*#practices .quote {
	padding: 50px 0;
}*/
#practices .quote div {
	padding: 0 30px 0 0;
}
/*#practices q {
	font-style: normal;
	margin: 10px 0px;
	line-height: 25px;
	font-size: 14px;

}*/
/*#practices .quote p {
	text-align: right;
}*/

#practices h3{
	font-size: 19px;
	line-height: 30px;
	padding-bottom: 15px;
	border-bottom: 1.5px dotted #fff;
	margin: 10px 0 0 0;
}


#practices h1{
	font-size: 32px;
	color: #707f62;
	margin: 0px;
}
/*#practices  p {
	line-height: 23px;
}*/
/*#practices  p a {
	text-decoration: underline;
	color: #626262;
}*/
/*#practices  p a:hover {
	color: #333333;
}*/
.landing_page {
	width: 66.6%;
	margin: 5px 0 0 0px;
}
.landing_page p,
.landing_page h1 {
	padding-left: 30px;
}
.wrapper_practic {
	display: block;
}
.wrap_half{
	width: 49%;
	padding: 26px 10px 26px 30px;
	display: inline-block;
	box-sizing: border-box;

}

/*--------------specific_shadow------------------*/
.wrapper_practic .specific_shadow {
	 position: relative;
}
.wrapper_practic .specific_shadow:before,
.wrapper_practic .specific_shadow:after {
	 z-index: -1;
	 position: absolute;
	 content: "";
	 bottom: 13px;
	 left: 4px;
	 width: 50%;
	 top: 80%;
	 max-width:300px;
	 background: rgba(0, 0, 0, 0.3);
	 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.3);
	 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
	 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
	 -webkit-transform: rotate(-3deg);
	 -moz-transform: rotate(-3deg);
	 -o-transform: rotate(-3deg);
	 -ms-transform: rotate(-3deg);
	 transform: rotate(-3deg);
}
.wrapper_practic .specific_shadow:after {
	 -webkit-transform: rotate(3deg);
	 -moz-transform: rotate(3deg);
	 -o-transform: rotate(3deg);
	 -ms-transform: rotate(3deg);
	 transform: rotate(3deg);
	 right: 10px;
	 left: auto;
}

/*-- end ------------specific_shadow------------------*/
.wrapper_practic .wrap {
	background-color: #fff;
	box-sizing: border-box;
	padding: 5px;
}
.wrapper_practic .wrap_img {
	background-color: #fff;
	box-sizing: border-box;
	border: 1px solid #fff;
	box-shadow: 0px 0px 2px 2px #CACACA;

}
.wrapper_practic img {
	width: 100%;
}
.wrapper_practic a {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 0;
}
.practices_single_img {
	margin: 30px 0 0 30px;
}
