body {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	color: #626262;
	background: #d9d9d9;
	margin: 0;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}

p {
	line-height: 24px;
	font-size: 14px;
}
a{
	text-decoration: none;
	color: #626262;
}
a:hover {
	color: #333333;
}
p a {
	text-decoration: underline;
	color: #626262;
}
.quote {
	padding: 50px 0;
}
q {
	font-style: normal;
	margin: 10px 0px;
	line-height: 25px;
	font-size: 14px;

}
.quote p {
	text-align: right;
}

h1 {
	font-family: "Time New Roman";	
	text-transform: uppercase;
	font-size: 29px;
	font-weight: 500;
	color: #707f62;
	margin: 25px 0 5px;
}

h3 {
	font-family: "Time New Roman";	
	text-transform: uppercase;
	font-size: 19px;
	font-weight: 500;
}
#our_lawyers h4 {
	text-transform: uppercase;
	font-size: 14px;
	margin: 15px 0 0;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
.buttom {
	padding: 7px 12px; 
	line-height: 36px; 
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	color:#fff; 
	text-transform: uppercase;
	background: #cdcdcd; /* Old browsers */
	background: -moz-linear-gradient(top, #727272 0%, #5b5b5b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #727272), color-stop(100%, #5b5b5b)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #727272 0%, #5b5b5b 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #727272 0%, #5b5b5b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #727272 0%, #5b5b5b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #727272 0%, #5b5b5b 100%); /* W3C */
	text-shadow: 1px 0px 0px #696969; 
}
.buttom:hover {
	color: #fff;
	background: #7b7b7b; 
	background: -moz-linear-gradient(top, #484848 0%, #333333 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484848), color-stop(100%, #333333)); 
	background: -webkit-linear-gradient(top, #484848 0%, #333333 100%);
	background: -o-linear-gradient(top, #484848 0%, #333333 100%); 
	background: -ms-linear-gradient(top, #484848 0%, #333333 100%); 
	background: linear-gradient(to bottom, #484848 0%, #333333 100%); 
	text-shadow: 1px 0px 0px #696969; 
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	box-sizing: border-box;
}
#our_lawyers .content{ 
	width: 66.6%;
	padding: 0px 0 90px 0px;
 }
.sidebar {
	width: 33.3%;
	border-right: 1px dotted #fff;
	box-sizing: border-box;
}
.content{ 
	width: 66.6%;
 }
.specific_shadow {
	 position: relative;
}
.specific_shadow:before,
.specific_shadow:after {
	 z-index: -1;
	 position: absolute;
	 content: "";
	 bottom: 15px;
	 left: 10px;
	 width: 50%;
	 top: 80%;
	 max-width:300px;
	 background: rgba(0, 0, 0, 0.3);
	 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.2);
	 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
	 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.2);
	 -webkit-transform: rotate(-3deg);
	 -moz-transform: rotate(-3deg);
	 -o-transform: rotate(-3deg);
	 -ms-transform: rotate(-3deg);
	 transform: rotate(-3deg);
}
.specific_shadow:after {
	 -webkit-transform: rotate(3deg);
	 -moz-transform: rotate(3deg);
	 -o-transform: rotate(3deg);
	 -ms-transform: rotate(3deg);
	 transform: rotate(3deg);
	 right: 10px;
	 left: auto;
}
/*--------------  header-----------*/
#header {
	padding: 40px 0 62px 0;
}
#header nav {
	padding: 0px 0 11px 0;
}
#header .container {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#header li {
	display: inline-block;
	padding-left: 30px;
}
#header li a {
	color: #b8c6ac;
	text-shadow: 1px 1px 1px #646464;
	font-weight: bold;
	font-family: "Times", "Time New Roman";
	font-size: 13px;
	text-transform: uppercase;
}
#header li a:hover {
	color: #fff;
}
/*-end------------- header -----------*/
/*--------------  banner-----------*/
#banner {
	background-image: url(../img/banner_new.png);
	background-repeat: no-repeat;
	background-position: top center;	
	min-height: 380px;
}

#banner .tagline {
	font-family: "Time New Roman";
	font-size: 30px;
	text-align: center;
	width: 305px;
	line-height: 48px;
	padding: 87px 0 0 61px;	
}
#banner .tagline span {
	font-size: 25px;

}
/*-end------------- banner -----------*/
/*--------------  testimonials-----------*/

#testimonials {
	line-height: 25px;
	background: #dedede;
	border-top: 1px solid #fff; 
}
/*#testimonials a {
	text-decoration: underline;
}*/
#testimonials .container {
	display: flex;
}
#testimonials .info_testimonial {
	width: 66.6%;
	padding: 0  20px 0 0px;
}
#testimonials .quote {
	width: 33.3%;
	margin: 0 0px 0 10px;
	padding: 0 20px 30px 20px;
	border-left: 1.5px dotted #fff;
	box-sizing: border-box;
}

#testimonials h1{
	font-size: 32px;
	color: #707f62;
	margin: 23px 0 28px;
	text-transform: none;
}
#testimonials h3{
	color: #707f62;
	margin: 23px 0 28px;
}
/*-end------------- testimonials -----------*/
/*--------------  choose-----------*/
#choose {
	border-top: 1px solid #fff; 
	padding-bottom: 48px;
}
#choose h3 {
	color: #57614e;
	margin: 24px 0 24px;
}
#choose .container>div{
	display: flex;
}
#choose .wrapper_choose {
	width: 25%;
	margin-right: 30px;
	font-family: "Arial";
	font-size: 14px;
	color: #626262;
}
#choose .wrapper_choose:last-child {
	margin-right: 0px;
}
#choose .wrapper_choose img {
	width: 100%;
}
#choose .wrapper_choose h4 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 24px 0 8px;
}
#choose .wrapper_choose p {
	padding-bottom: 16px;
}

/*-end------------- choose -----------*/


/*--------------  footer-----------*/
#footer {
	background-image: url(../img/bg_footer.png);
	background-repeat: no-repeat;
	background-position: top center;	
	min-height: 35px;
	border-top: 1px solid #fff; 
	
}
#footer p {
	font-size: 13px;
}
#footer .container{
	padding: 0;
}
.info-footer {
	border-bottom: 1px solid #fff;
}
.info-footer {
	display: flex;
}
.info-footer>div {
	width: 33.3%;
	padding: 40px 28px 30px;
	box-sizing: border-box;
	border-right: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
}
.info-footer>div:first-child,
.info-footer>div:last-child {
	border: none;
}
#footer .info-footer a {
	text-decoration: none;
}
#footer .info-footer .buttom {
	text-decoration: none;
	padding: 12px 22px; 
	line-height: 36px; 
	font-size: 12px;
}
.info-footer h5 {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0;
	font-size: 13px;
}

.social {
	background: #879b76; /* Old browsers */
	background: -moz-linear-gradient(top, #3f4837 0%, #48533f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f4837), color-stop(100%, #48533f)); /* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #3f4837 0%, #48533f 100%); /* Chrome10+, Safari5.1+ */
	background: -o-linear-gradient(top, #3f4837 0%, #48533f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3f4837 0%, #48533f 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3f4837 0%, #48533f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f4837', endColorstr='#48533f', GradientType=0); /* IE6-9 */
}
.social .container {
	height: 43px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social ul li {
	display: inline-block;
}

.social ul a {
	display: inline-block;
	height: 15px;
	width: 15px;
	background-image: url(../img/networks.png);
	background-repeat: no-repeat;
	padding: 0 8px 0 0;
}
.social ul a.fb {
	background-position: -4px -4px;
}
.social ul a.twitter {
	background-position: -28px -4px;
}
.social ul a.google {
	background-position: -51px -4px;
}
.social ul a.pinterest {
	background-position: -75px -4px;
}
.social .container>div {
	color: #e2e2e2;
	font-size: 11px;
}
/*-end------------- footer -----------*/