
$block-color: #fff;
$body-color: #f5f5f5;
.container{
	max-width: 1170px;
	margin: 0 auto;
	/* background: red;*/
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: rgba(255, 255, 255, 0.38);
	text-decoration: none;
}
header#header {
	.wrapper-for-top-menu {
		background: #000;
		.container {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-pack: justify;
			 justify-content: space-between;
			 -ms-flex-align: center;
			 align-items: center;
			 height: 40px;
			.social-icon  {
				a {
					margin-right: 13px;
				}
			}
			.sing-in-and-lang { 
				div {
					display: inline-block;
					position: relative; 
					ul {
						position: absolute;
						display: none;
						li {
							list-style-type: none;
						}
					}			
				}
			}
		}
	}


}


main#main {
	background: $body-color;
	.sort {
		background: $block-color;
		margin-bottom: 30px;
	}
	.content {
	position: relative;
		.white-block {
			position: absolute;
			right: 0;
			bottom: 0;
			top: 0;
			background: $block-color;
			width: 30%;
		}	
	}
}

